@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: rgb(172, 149, 69);
  --color-secondary: #0c4860;
  --font-cormorant-upright: var(--font-cormorant-upright);
  --font-cormorant-unicase: var(--font-cormorant-unicase);
  --font-manrope: var(--font-manrope);
  
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--color-primary);
  --font-cormorant-upright: var(--font-cormorant-upright);
  --font-cormorant-unicase: var(--font-cormorant-unicase);
  --font-manrope: var(--font-manrope);
  --color-secondary: var(--color-secondary);
  --breakpoint-md: 1025px;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
   
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  padding: 0vw;
  font-family: var(--font-cormorant-upright);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}


.text12{
  font-size: 1vw;
}
.text18{
  font-size: 1.2vw;
}
.text30{
  font-size: 2vw;
}
.text40{
  font-size: 3vw;
}
.text50{
  font-size: 7vw;
}
.text60{
  font-size: 9vw;
}

@media (max-width: 1025px) {
  .text12{
    font-size: 4vw;
  }
  .text18{
    font-size: 5vw;
  }
  .text30{
    font-size: 8vw;
  }
  .text40{
    font-size: 13vw;
  }
  .text50{
    font-size: 18vw;
  }
  .text60{
    font-size: 20vw;
  }
}